@import "./styles/variables";

.container {
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0 10em;
  font-family: $kumbh-sans;
  overflow: hidden;

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 3em;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0;
  }
}
